<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Admin Paneli</title>
        <h:outputStylesheet library="css" name="admin.css"/>
    </h:head>
    <h:body>
        <div id="wrapper">
            <div id="header">
                <h1>Araç Kiralama Sistemi | Admin</h1>
            </div>
            <div id="menu">
                <h:link value="Ana Sayfa" outcome="/admin/index.xhtml"/>
                <h:link value="Üyeler" outcome="/admin/client/List.xhtml"/>
                <h:link value="Rezervasyonlar" outcome="/admin/booking/List"/>
                <h:link value="Başvurular" outcome="/admin/application/List"/>
                <h:link value="Araçlar" outcome="/admin/vehicle/List.xhtml"/>
                <h:link value="Kampanyalar" outcome="/admin/campaign/List.xhtml"/>
                <div class="right">
                    <h:form>
                        <h:link value="Ayarlar" outcome="/admin/settings.xhtml"/>
                        <h:commandLink value="Çıkış" action="#{adminUserController.logout}"/>
                    </h:form>
                </div>
            </div>
            <div class="content">
                <h2><ui:insert name="title"></ui:insert></h2>
                <p><ui:insert name="body"></ui:insert></p>
            </div>
            <div id="footer">
                <p>© 2014</p>
            </div>
        </div>
    </h:body>
</html>