<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="blue_theme.css"/>
        <title>Araç Kiralama Sistemi</title>
        <script src="jquery-1.10.2.min.js"></script>
        <link href="resources/css/fotorama.css" rel="stylesheet"/>
        <script src="resources/js/fotorama.js"></script>
    </h:head>
    <h:body>
        <div id="wrapper">
            <div id="header">
                <h1></h1>
            </div>
            <div id="menu">
                <div class="left">
                   <h:link outcome="index.xhtml">
                    <h:graphicImage value="resources/images/blueTheme/index.png" height="28" width="100" />
                </h:link>
                     <h:link outcome="booking.xhtml">
                    <h:graphicImage value="resources/images/blueTheme/booking.png" height="28" width="100" />
                </h:link>
                    
                     <h:link outcome="vehicles.xhtml">
                    <h:graphicImage value="resources/images/blueTheme/vehicles.png" height="28" width="100" />
                </h:link>
                    <h:link outcome="campaigns.xhtml">
                    <h:graphicImage value="resources/images/blueTheme/campaign.png" height="28" width="100" />
                </h:link>
                    <h:link outcome="contact.xhtml">
                    <h:graphicImage value="resources/images/blueTheme/contact.png" height="28" width="100" />
                </h:link>
                   
                </div>
                <div class="right">
                     <h:link outcome="register.xhtml">
                    <h:graphicImage value="resources/images/blueTheme/register.png" height="28" width="100" />
                </h:link>
                    <h:link>
                    <h:graphicImage value="resources/images/blueTheme/login.png" height="28" width="100" />
                </h:link>
                </div>
            </div>
            <div id="main">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <ui:insert name="main">Sayfa</ui:insert>
            </div>        
            <div id="footer">
                <p>IUCarRental.com © 2014</p>
            </div>
        </div>
        
    </h:body>
</html>