<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet library="css" name="public.css"/>
        <title>Araç Kiralama Sistemi</title>
    </h:head>
    <h:body>
        <div id="wrapper">
            <div id="header">
                <h1>Araç Kiralama Sistemi</h1>
            </div>
            <div id="menu">
                <div class="left">
                    <h:link value="Ana Sayfa" outcome="index.xhtml"/>
                    <h:link value="Rezervasyon" outcome="booking.xhtml"/>
                    <h:link value="Araçlar" outcome="vehicles.xhtml"/>
                    <h:link value="Kampanyalar" outcome="campaigns.xhtml"/>
                    <h:link value="İletişim" outcome="contact.xhtml"/>
                </div>
                <div class="right">
                    <h:link value="Üye Ol" outcome="register.xhtml"/>
                    <h:link value="Üye Girişi" outcome="login.xhtml"/>
                </div>
            </div>
            <div id="main">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <ui:insert name="main">
                </ui:insert>
            </div>
            <div id="footer">
                <p>© 2014</p>
            </div>
        </div>
    </h:body>
</html>