<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:body>
        <h:form class="form">
            <p>Adınız<br/>
                <h:inputText id="firstname" value="#{applicationController.selected.firstname}" required="true" requiredMessage="Ad alanı gerekli."/></p>
            <p>Soyadınız<br/>
                <h:inputText id="lastname" value="#{applicationController.selected.lastname}" required="true" requiredMessage="Soyad alanı gerekli."/></p>
            <p>Telefon<br/>
                <h:inputText id="phone" value="#{applicationController.selected.phone}" required="true" requiredMessage="Telefon numarası gerekli."/></p>
            <p>E-Posta<br/>
                <h:inputText id="email" value="#{applicationController.selected.email}" /></p>
            <p>Açıklama<br/>
                <h:inputTextarea rows="4" cols="30" id="description" value="#{applicationController.selected.description}" /><br/>
                (İstediğiniz araç ve tarih aralığını açıklamaya ekleyiniz.)
            </p>
            <h:commandButton value="Gönder" action="#{applicationController.create}"/>
        </h:form>
    </h:body>
</html>