<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:body>
        <h:form class="form">
            <p>Kullanıcı Adı<br/>
                <h:inputText />
            </p>
            <p>Şifre<br/>
                <h:inputSecret />
            </p>
            <h:commandButton value="Giriş" />
         </h:form>
    </h:body>
</html>