html,
body {
    margin: 0;
    height: 100%;
    background: #eaeaea;
    font-family: arial, sans-serif;
}

#wrapper {
    width: 100%;
    min-height:100%;
    position:relative;
    margin: 0px;
}

#header {
    height: 80px;
    background: #3f3f3f;
}

h1 {
    margin: 0px auto auto 10px;
    line-height: 80px;
    font-size: 28px;
    color: #4794b5;
}

#menu {
    padding: 4px 10px 4px 10px;
    background: #bfd1e0;
    color: #3f3f3f;
    border-bottom: 1px solid #93a8b8;
}

#menu a {
    color: black;
    line-height: 20px;
    text-decoration: none;
    margin-right: 10px;
}

#menu a:hover {
    text-decoration: underline;
}

#menu .right {
    float: right;
}

#menu .right a {
    margin-left: 10px;
    margin-right: 0px;
}

.content {
    padding: 10px 10px 30px 10px;
}

a {
    color: #0030ff; 
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: #3f3f3f;
}

#footer p {
    margin: 0px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    color: white;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    border: 1px solid gray;
    letter-spacing: 3px;
    text-align: left;
    background-color: #bfd1e0;
    color: #4f6272;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}

tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border: 1px solid gray;
    vertical-align: baseline;
    padding-bottom: 0px;
}

#box {
    width: 220px;
    margin: auto;
    margin-top: 120px;
    background: #eff5fa;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
}

#heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 30px;
    color: #3f3f3f;
    background: #87aed0;
}

#loginMessage {
    width: 220px;
    margin: auto;
    margin-top: 10px;
}