body {
background-color: #348dbc;
margin: 0;
}

#wrapper {
    width: 1000px;
    margin: auto;
  background-color: #e6ebee;
   height:     auto;       
    min-height: 100%
}

#header {
   background-image: url('../resources/images/blueTheme/logo.png');
    height: 100px; 
}

h1 {
    width: 500px;
    margin: 0px auto auto 10px;
    line-height: 80px;
    float: left;
}

#main {
      overflow-y: auto;
}

.content {
    padding: 10px;
}

#left {
   width: 250px;
    float: left;
    margin-left: 5px;
}
#left .form {
  width: 240px;
    padding: 5px;
    border: solid 1px #ababab;
    background-color: #f2f2f2;
    border-radius: 10px;  
    margin-top: 20px;
}
#left .form .formTitle {
    margin: 0px;
    width: 240px;
    height: 25px;
    background-color: #348dbc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.form h4 {
    line-height: 25px;
    margin-left: 35px;
    color: #ffffff;
}
#rightContent {
    
    width: 700px;
    min-height: 320px;
    padding: 10px;
    margin-top: 20px;
    float: right;
    border-radius: 10px;
    border: solid 1px #ababab;
    margin-right: 5px;
}

#footer {
    height: 20px;
    background: #9ad0d5;
    border-top: 1px solid #ababab;
    margin-top: 70px;
    background-image: url('../resources/images/blueTheme/footer.png');
}

#footer p {
    margin: 0;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

#menu {
    height: 22px;
    padding: 10px;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    background-image: url('../resources/images/blueTheme/menu.png')
}

#menu a {
   
    color: black;
    line-height: 10px;
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    
    
    
}

#menu a:hover {
    color: blue;
}

#menu .left {
    float: left;
}

#menu .left a {
    margin-right: 10px;
}
#menu .left a:hover {
    opacity: 0.7;
}
#menu .right {
    float: right;
}

#menu .right a {
    margin-left: 10px;
}
#menu .right a:hover {
    opacity: 0.7;
}

#searchForm {
    width: 240px;
    float: left;
    border: solid 1px #ababab;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 5px;
}
#searchForm .heading {
    height: 25px;
    background-color: #348dbc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#searchForm .heading h4 {
    line-height: 25px;
    margin-left: 30px;
    color: #ffffff
}

#searchForm select {
    margin-left: 5px;
}

#searchForm label {
    margin-left: 5px;
}

td {
    padding-right: 10px;
}

#booking {
    width: 50%;
    float: left;
}

#application {
    width: 50%;
    margin-left: 50%;
    
}

.form {
    padding: 10px 30px 20px 15px;
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}

.formContent {
    padding: 20px;
}

h4 {
    font: normal 16px sans-serif;
    margin: 0;
    padding-bottom:20px;
    color: #2b4ba6;
}

#messagePanel {
    background-color: #f0faff;
}

#messagePanel table {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #9ba8ae;
}

.vehicleRecord {
    margin-bottom: 20px;
    border: 1px solid #c4c4c4;
}

.vehicleRecord .heading {
    padding: 4px 0px 4px 10px;
    border-bottom: 1px solid #1b527d;
    background: #1d5987;
    color: white;
}

.vehicleRecord .options {
    float: right;
    width: 110px;
    padding: 10px;
    height: 100px;
    background: #ffeebb;
    border-left: 1px solid #bca663;
    text-align: center;
    font: bold 12px sans-serif;
}

.vehicleRecord .options .price {
    margin-top: 4px;
    display: inline-block;
    padding: 4px;
    color: darkgreen;
    background: lightgreen;
    border: 1px solid darkgreen;
}

.vehicleRecord .options .buttons {
    margin-top: 15px;
}

.vehicleRecord .options input {
    margin-top: 2px;
    font-size: 10px;
}

.vehicleRecord .properties {
    padding: 10px;
    margin-right: 130px;
}

.vehicleRecord .image {
    float: left;
}

.vehicleRecord table {
    margin-left: 200px;
    height: 100px;
    width: 316px;
    font: normal 10px sans-serif;
    table-layout: fixed;
}

.vehicleRecord table tr td:nth-child(odd){
    font-weight: bold;
}

.airportSabiha {
    width: 240px;
    height: 150px;
    float: left;
    border: solid 1px #ababab;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 5px;
}
.airportSabiha .heading {
    height: 25px;
    background-color: #348dbc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.airportSabiha .heading h4 {
    line-height: 25px;
    margin-left: 30px;
    color: #ffffff
}
.airportAtatürk {
    width: 240px;
    height: 150px;
    float: left;
    border: solid 1px #ababab;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 5px;
}
.airportAtatürk .heading {
    height: 25px;
    background-color: #348dbc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.airportAtatürk .heading h4 {
    line-height: 25px;
    margin-left: 55px;
    color: #ffffff
}
.campaignRecord {
    width: 480px;
    height: 250px;
    border: solid 1px #ababab;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.campaignRecord .description {
    height:150px;
    padding: 5px;
}
.campaignRecord .title {
    height: 25px;
     background-color:#1d5987;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    
}
.campaignRecord .title h4{
    color: #ffffff;
    line-height: 25px;
    margin-left: 10px;
    
}
.campaignRecord .footing {
    height: 65px;
   background-color: red;
   border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}
.campaignRecord .footing p {
font-weight: bold;
}

.campaignPagination {
    
}

.cmpPagination {
    border: solid 1px #ababab;
     background-color: #f2f2f2;
     text-align: center;
}

.vehicleView {
    border: solid 1px #ababab;
    background-color: #f2f2f2;
    width: 900px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: auto;
}

.vehicleView .right .fotorama {
    
   padding: 15px;
}
.vehicleView .right {
    
    border-left: solid 1px #ababab;
    float: right;
}
.vehicleView .properties {
    
    font-size: 18px;
    float: left;
    padding: 25px;
    
}
.vehicleView .properties .prop {
    color: #b35ab6;
    font-size: 18px;
    
}
.vehicleView .heading {
    height: 30px;
    background-color: #1d5987;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.vehicleView .heading h4 {
   color: #ffffff;
   line-height: 30px;
   margin-left: 25px;
}
.vehicleView h3 {
    margin-left: 25px;
}