body {

}

#wrapper {
    width: 1000px;
    margin: auto;
    border: 1px solid #ababab;
}

#header {
    height: 80px;
    background: #9ad0d5;
}

h1 {
    width: 500px;
    margin: 0px auto auto 10px;
    line-height: 80px;
    float: left;
}

#main {

}

.content {
    padding: 10px;
}

#left {
    width: 290px;
    float: left;
    padding: 10px;
}

#rightContent {
    margin-left: 310px;
    min-height: 320px;
    padding: 10px;
    border-left: 1px solid #ababab;
}

#footer {
    height: 20px;
    background: #9ad0d5;
    border-top: 1px solid #ababab;
}

#footer p {
    margin: 0;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

#menu {
    height: 20px;
    padding: 10px;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

#menu a {
    color: black;
    line-height: 20px;
    text-decoration: none;
    padding: 3px;
    border: 1px solid;
}

#menu a:hover {
    color: blue;
}

#menu .left {
    float: left;
}

#menu .left a {
    margin-right: 10px;
}

#menu .right {
    float: right;
}

#menu .right a {
    margin-left: 10px;
}

#searchForm select {
    margin-left: 5px;
}

#searchForm label {
    margin-left: 5px;
}

td {
    padding-right: 10px;
}

#booking {
    width: 50%;
    float: left;
}

#application {
    width: 50%;
    margin-left: 50%;
    border-left: 1px solid #ababab;
}

.form {
    padding: 10px 30px 20px 15px;
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}

.formContent {
    padding: 20px;
}

h4 {
    font: normal 16px sans-serif;
    margin: 0;
    padding-bottom:20px;
    color: #2b4ba6;
}

#messagePanel {
    background-color: #f0faff;
}

#messagePanel table {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #9ba8ae;
}

.vehicleRecord {
    margin-bottom: 20px;
    border: 1px solid #c4c4c4;
}

.vehicleRecord .heading {
    padding: 4px 0px 4px 10px;
    border-bottom: 1px solid #1b527d;
    background: #1d5987;
    color: white;
}

.vehicleRecord .options {
    float: right;
    width: 110px;
    padding: 10px;
    height: 100px;
    background: #ffeebb;
    border-left: 1px solid #bca663;
    text-align: center;
    font: bold 12px sans-serif;
}

.vehicleRecord .options .price {
    margin-top: 4px;
    display: inline-block;
    padding: 4px;
    color: darkgreen;
    background: lightgreen;
    border: 1px solid darkgreen;
}

.vehicleRecord .options .buttons {
    margin-top: 15px;
}

.vehicleRecord .options input {
    margin-top: 2px;
    font-size: 10px;
}

.vehicleRecord .properties {
    padding: 10px;
    margin-right: 130px;
}

.vehicleRecord .image {
    float: left;
}

.vehicleRecord table {
    margin-left: 200px;
    height: 100px;
    width: 316px;
    font: normal 10px sans-serif;
    table-layout: fixed;
}

.vehicleRecord table tr td:nth-child(odd){
    font-weight: bold;
}

.vehicleView {
    border: solid 1px #ababab;
    background-color: #f2f2f2;
    width: 900px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: auto;
}

.vehicleView .right .fotorama {
    
   padding: 15px;
}
.vehicleView .right {
    
    border-left: solid 1px #ababab;
    float: right;
}
.vehicleView .properties {
    
    font-size: 18px;
    float: left;
    padding: 25px;
    
}
.vehicleView .properties .prop {
    color: #b35ab6;
    font-size: 18px;
    
}
.vehicleView .heading {
    height: 30px;
   background: #9ad0d5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.vehicleView .heading h4 {
   color: #000000;
   line-height: 30px;
   margin-left: 25px;
}
.vehicleView h3 {
    margin-left: 25px;
}