<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateVehicleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_title}" for="title" />
                    <h:inputText id="title" value="#{vehicleController.selected.title}" title="#{bundle.CreateVehicleTitle_title}" required="true" requiredMessage="#{bundle.CreateVehicleRequiredMessage_title}"/>
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_category}" for="category" />
                    <h:selectOneMenu id="category" value="#{vehicleController.selected.category}" title="#{bundle.CreateVehicleTitle_category}" required="true" requiredMessage="#{bundle.CreateVehicleRequiredMessage_category}">
                        <f:selectItem itemValue="1" itemLabel="Ekonomik"/>
                        <f:selectItem itemValue="2" itemLabel="Ekonomik Lüks"/>
                        <f:selectItem itemValue="3" itemLabel="Jeep"/>
                        <f:selectItem itemValue="4" itemLabel="Lüks Araç"/>
                        <f:selectItem itemValue="5" itemLabel="Minibüs"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_brand}" for="brand" />
                    <h:inputText id="brand" value="#{vehicleController.selected.brand}" title="#{bundle.CreateVehicleTitle_brand}" />
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_model}" for="model" />
                    <h:inputText id="model" value="#{vehicleController.selected.model}" title="#{bundle.CreateVehicleTitle_model}" />
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_price}" for="price" />
                    <h:inputText id="price" value="#{vehicleController.selected.price}" title="#{bundle.CreateVehicleTitle_price}" required="true" requiredMessage="#{bundle.CreateVehicleRequiredMessage_price}"/>
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_plate}" for="plate" />
                    <h:inputText id="plate" value="#{vehicleController.selected.plate}" title="#{bundle.CreateVehicleTitle_plate}" />
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_vyear}" for="vyear" />
                    <h:inputText id="vyear" value="#{vehicleController.selected.vyear}" title="#{bundle.CreateVehicleTitle_vyear}" />
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_color}" for="color" />
                    <h:inputText id="color" value="#{vehicleController.selected.color}" title="#{bundle.CreateVehicleTitle_color}" />
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_fuel}" for="fuel" />
                    <h:selectOneMenu id="fuel" value="#{vehicleController.selected.fuel}" title="#{bundle.CreateVehicleTitle_fuel}">
                        <f:selectItem itemValue="1" itemLabel="Benzin"/>
                        <f:selectItem itemValue="2" itemLabel="Dizel"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_gear}" for="gear" />
                    <h:selectOneMenu id="gear" value="#{vehicleController.selected.gear}" title="#{bundle.CreateVehicleTitle_gear}" >
                        <f:selectItem itemValue="1" itemLabel="Düz"/>
                        <f:selectItem itemValue="2" itemLabel="Otomatik"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_engineVol}" for="engineVol" />
                    <h:inputText id="engineVol" value="#{vehicleController.selected.engineVol}" title="#{bundle.CreateVehicleTitle_engineVol}" />
                    <h:outputLabel value="#{bundle.CreateVehicleLabel_images}" for="images" />
                    <h:inputText id="images" value="#{vehicleController.selected.images}" title="#{bundle.CreateVehicleTitle_images}" required="true" requiredMessage="#{bundle.CreateVehicleRequiredMessage_images}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vehicleController.create}" value="#{bundle.CreateVehicleSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{vehicleController.prepareList}" value="#{bundle.CreateVehicleShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.CreateVehicleIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
