<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditVehicleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditVehicleLabel_title}" for="title" />
                    <h:inputText id="title" value="#{vehicleController.selected.title}" title="#{bundle.EditVehicleTitle_title}" required="true" requiredMessage="#{bundle.EditVehicleRequiredMessage_title}"/>
                    <h:outputLabel value="#{bundle.EditVehicleLabel_category}" for="category" />
                    <h:selectOneMenu id="category" value="#{vehicleController.selected.category}" title="#{bundle.EditVehicleTitle_category}" required="true" requiredMessage="#{bundle.EditVehicleRequiredMessage_category}">
                        <f:selectItem itemValue="1" itemLabel="Ekonomik"/>
                        <f:selectItem itemValue="2" itemLabel="Ekonomik Lüks"/>
                        <f:selectItem itemValue="3" itemLabel="Jeep"/>
                        <f:selectItem itemValue="4" itemLabel="Lüks Araç"/>
                        <f:selectItem itemValue="5" itemLabel="Minibüs"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditVehicleLabel_brand}" for="brand" />
                    <h:inputText id="brand" value="#{vehicleController.selected.brand}" title="#{bundle.EditVehicleTitle_brand}" />
                    <h:outputLabel value="#{bundle.EditVehicleLabel_model}" for="model" />
                    <h:inputText id="model" value="#{vehicleController.selected.model}" title="#{bundle.EditVehicleTitle_model}" />
                    <h:outputLabel value="#{bundle.EditVehicleLabel_price}" for="price" />
                    <h:inputText id="price" value="#{vehicleController.selected.price}" title="#{bundle.EditVehicleTitle_price}" required="true" requiredMessage="#{bundle.EditVehicleRequiredMessage_price}"/>
                    <h:outputLabel value="#{bundle.EditVehicleLabel_plate}" for="plate" />
                    <h:inputText id="plate" value="#{vehicleController.selected.plate}" title="#{bundle.EditVehicleTitle_plate}" />
                    <h:outputLabel value="#{bundle.EditVehicleLabel_vyear}" for="vyear" />
                    <h:inputText id="vyear" value="#{vehicleController.selected.vyear}" title="#{bundle.EditVehicleTitle_vyear}" />
                    <h:outputLabel value="#{bundle.EditVehicleLabel_color}" for="color" />
                    <h:inputText id="color" value="#{vehicleController.selected.color}" title="#{bundle.EditVehicleTitle_color}" />
                    <h:outputLabel value="#{bundle.EditVehicleLabel_fuel}" for="fuel" />
                    <h:selectOneMenu id="fuel" value="#{vehicleController.selected.fuel}" title="#{bundle.EditVehicleTitle_fuel}" >
                        <f:selectItem itemValue="1" itemLabel="Benzin"/>
                        <f:selectItem itemValue="2" itemLabel="Dizel"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditVehicleLabel_gear}" for="gear" />
                    <h:selectOneMenu id="gear" value="#{vehicleController.selected.gear}" title="#{bundle.EditVehicleTitle_gear}" >
                        <f:selectItem itemValue="1" itemLabel="Düz"/>
                        <f:selectItem itemValue="2" itemLabel="Otomatik"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditVehicleLabel_engineVol}" for="engineVol" />
                    <h:inputText id="engineVol" value="#{vehicleController.selected.engineVol}" title="#{bundle.EditVehicleTitle_engineVol}" />
                    <h:outputLabel value="#{bundle.EditVehicleLabel_images}" for="images" />
                    <h:inputText id="images" value="#{vehicleController.selected.images}" title="#{bundle.EditVehicleTitle_images}" required="true" requiredMessage="#{bundle.EditVehicleRequiredMessage_images}"/>
                </h:panelGrid>
                <h:commandLink action="#{vehicleController.update}" value="#{bundle.EditVehicleSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditVehicleViewLink}"/>
                <br />
                <h:commandLink action="#{vehicleController.prepareList}" value="#{bundle.EditVehicleShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.EditVehicleIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
