<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewVehicleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewVehicleLabel_id}"/>
                    <h:outputText value="#{vehicleController.selected.id}" title="#{bundle.ViewVehicleTitle_id}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_title}"/>
                    <h:outputText value="#{vehicleController.selected.title}" title="#{bundle.ViewVehicleTitle_title}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_category}"/>
                    <h:outputText value="#{vehicleController.selected.category}" title="#{bundle.ViewVehicleTitle_category}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_brand}"/>
                    <h:outputText value="#{vehicleController.selected.brand}" title="#{bundle.ViewVehicleTitle_brand}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_model}"/>
                    <h:outputText value="#{vehicleController.selected.model}" title="#{bundle.ViewVehicleTitle_model}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_price}"/>
                    <h:outputText value="#{vehicleController.selected.price}" title="#{bundle.ViewVehicleTitle_price}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_plate}"/>
                    <h:outputText value="#{vehicleController.selected.plate}" title="#{bundle.ViewVehicleTitle_plate}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_vyear}"/>
                    <h:outputText value="#{vehicleController.selected.vyear}" title="#{bundle.ViewVehicleTitle_vyear}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_color}"/>
                    <h:outputText value="#{vehicleController.selected.color}" title="#{bundle.ViewVehicleTitle_color}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_fuel}"/>
                    <h:outputText value="#{vehicleController.selected.fuel}" title="#{bundle.ViewVehicleTitle_fuel}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_gear}"/>
                    <h:outputText value="#{vehicleController.selected.gear}" title="#{bundle.ViewVehicleTitle_gear}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_engineVol}"/>
                    <h:outputText value="#{vehicleController.selected.engineVol}" title="#{bundle.ViewVehicleTitle_engineVol}"/>
                    <h:outputText value="#{bundle.ViewVehicleLabel_images}"/>
                    <h:outputText value="#{vehicleController.selected.images}" title="#{bundle.ViewVehicleTitle_images}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{vehicleController.destroyAndView}" value="#{bundle.ViewVehicleDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewVehicleEditLink}"/>
                <br />
                <h:commandLink action="#{vehicleController.prepareCreate}" value="#{bundle.ViewVehicleCreateLink}" />
                <br />
                <h:commandLink action="#{vehicleController.prepareList}" value="#{bundle.ViewVehicleShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.ViewVehicleIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
