<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCampaignTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCampaignLabel_title}" for="title" />
                    <h:inputText id="title" value="#{campaignController.selected.title}" title="#{bundle.EditCampaignTitle_title}" required="true" requiredMessage="#{bundle.EditCampaignRequiredMessage_title}"/>
                    <h:outputLabel value="#{bundle.EditCampaignLabel_description}" for="description" />
                    <h:inputTextarea rows="4" cols="30" id="description" value="#{campaignController.selected.description}" title="#{bundle.EditCampaignTitle_description}" required="true" requiredMessage="#{bundle.EditCampaignRequiredMessage_description}"/>
                    <h:outputLabel value="#{bundle.EditCampaignLabel_beginDate}" for="beginDate" />
                    <h:inputText id="beginDate" value="#{campaignController.selected.beginDate}" title="#{bundle.EditCampaignTitle_beginDate}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCampaignLabel_endDate}" for="endDate" />
                    <h:inputText id="endDate" value="#{campaignController.selected.endDate}" title="#{bundle.EditCampaignTitle_endDate}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{campaignController.update}" value="#{bundle.EditCampaignSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCampaignViewLink}"/>
                <br />
                <h:commandLink action="#{campaignController.prepareList}" value="#{bundle.EditCampaignShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.EditCampaignIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
