<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCampaignTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCampaignLabel_id}"/>
                    <h:outputText value="#{campaignController.selected.id}" title="#{bundle.ViewCampaignTitle_id}"/>
                    <h:outputText value="#{bundle.ViewCampaignLabel_title}"/>
                    <h:outputText value="#{campaignController.selected.title}" title="#{bundle.ViewCampaignTitle_title}"/>
                    <h:outputText value="#{bundle.ViewCampaignLabel_description}"/>
                    <h:outputText value="#{campaignController.selected.description}" title="#{bundle.ViewCampaignTitle_description}"/>
                    <h:outputText value="#{bundle.ViewCampaignLabel_beginDate}"/>
                    <h:outputText value="#{campaignController.selected.beginDate}" title="#{bundle.ViewCampaignTitle_beginDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCampaignLabel_endDate}"/>
                    <h:outputText value="#{campaignController.selected.endDate}" title="#{bundle.ViewCampaignTitle_endDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{campaignController.destroyAndView}" value="#{bundle.ViewCampaignDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCampaignEditLink}"/>
                <br />
                <h:commandLink action="#{campaignController.prepareCreate}" value="#{bundle.ViewCampaignCreateLink}" />
                <br />
                <h:commandLink action="#{campaignController.prepareList}" value="#{bundle.ViewCampaignShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.ViewCampaignIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
