<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <body>
        <ui:composition template="/layouts/admin.xhtml">
            <ui:define name="title">Ana Sayfa</ui:define>
            <ui:define name="body">
                <h:link outcome="/admin/vehicle/List" value="Tüm Araçları Görüntüle"/><br/>
                <h:link outcome="/admin/client/List" value="Tüm Üyeleri Görüntüle"/><br/>
                <h:link outcome="/admin/booking/List" value="Tüm Rezervasyonları Görüntüle"/><br/>
                <h:link outcome="/admin/application/List" value="Tüm Başvuruları Görüntüle"/><br/>
                 <h:link outcome="/admin/campaign/List" value="Tüm Kampanyaları Görüntüle"/>
            </ui:define>
        </ui:composition>
    </body>
</html>