<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Admin Giriş</title>
        <h:outputStylesheet library="css" name="admin.css"/>
    </h:head>
    <h:body>
        <div id="header">
            <h1>Araç Kiralama Sistemi | Admin</h1>
        </div>
        <div id="box">
            <div id="heading">Giriş</div>
            <div class="content">
               <h:form>
                    <p>Kullanıcı Adı<br/>
                        <h:inputText id="username" value="#{adminUserController.selected.username}" required="true" requiredMessage="Kullanıcı adı girmediniz."/>
                    </p>
                    <p>Şifre<br/>
                        <h:inputSecret id="password" value="#{adminUserController.selected.password}" required="true" requiredMessage="Şifre girmediniz."/>
                    </p>
                    <h:commandButton value="Giriş yap" action="#{adminUserController.login}" />
                </h:form>
            </div>
        </div>
        <h:panelGroup id="loginMessage" layout="block">
            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
        </h:panelGroup>
        <div id="footer">
            <p>© 2014</p>
        </div>
    </h:body>
</html>