<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="./../layouts/admin.xhtml">
            <ui:define name="title">Ayarlar</ui:define>
            <ui:define name="body">
                <h:link outcome="/admin/adminUser/List" value="Yöneticiler"/>
                <br/>
                <h:form id="themeForm">
                    Site Teması:<br/>
                    <h:selectOneRadio value="#{userPreferences.theme}">
                        <f:selectItem itemLabel="Varsayılan" itemValue="public"/>
                        <f:selectItem itemLabel="Blue Theme" itemValue="blue_theme"/>
                    </h:selectOneRadio>
                    <h:commandButton value="Kaydet" action="#{userPreferences.updateTheme}"/>
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
