<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAdminUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAdminUserLabel_username}" for="username" />
                    <h:inputText id="username" value="#{adminUserController.selected.username}" title="#{bundle.CreateAdminUserTitle_username}" required="true" requiredMessage="#{bundle.CreateAdminUserRequiredMessage_username}"/>
                    <h:outputLabel value="#{bundle.CreateAdminUserLabel_password}" for="password" />
                    <h:inputText id="password" value="#{adminUserController.selected.password}" title="#{bundle.CreateAdminUserTitle_password}" required="true" requiredMessage="#{bundle.CreateAdminUserRequiredMessage_password}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{adminUserController.create}" value="#{bundle.CreateAdminUserSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{adminUserController.prepareList}" value="#{bundle.CreateAdminUserShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/admin/settings" value="#{bundle.CreateAdminUserIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
