<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAdminUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAdminUserEmpty}" rendered="#{adminUserController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{adminUserController.items.rowCount > 0}">
                    <h:outputText value="#{adminUserController.pagination.pageFirstItem + 1}..#{adminUserController.pagination.pageLastItem + 1}/#{adminUserController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{adminUserController.previous}" value="#{bundle.Previous} #{adminUserController.pagination.pageSize}" rendered="#{adminUserController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{adminUserController.next}" value="#{bundle.Next} #{adminUserController.pagination.pageSize}" rendered="#{adminUserController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{adminUserController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdminUserTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdminUserTitle_username}"/>
                            </f:facet>
                            <h:outputText value="#{item.username}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAdminUserTitle_password}"/>
                            </f:facet>
                            <h:outputText value="#{item.password}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{adminUserController.prepareEdit}" value="#{bundle.ListAdminUserEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{adminUserController.destroy}" value="#{bundle.ListAdminUserDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{adminUserController.prepareCreate}" value="#{bundle.ListAdminUserCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/admin/settings" value="#{bundle.ListAdminUserIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
