<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateClientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateClientLabel_firstname}" for="firstname" />
                    <h:inputText id="firstname" value="#{clientController.selected.firstname}" title="#{bundle.CreateClientTitle_firstname}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_firstname}"/>
                    <h:outputLabel value="#{bundle.CreateClientLabel_lastname}" for="lastname" />
                    <h:inputText id="lastname" value="#{clientController.selected.lastname}" title="#{bundle.CreateClientTitle_lastname}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_lastname}"/>
                    <h:outputLabel value="#{bundle.CreateClientLabel_birthdate}" for="birthdate" />
                    <h:inputText id="birthdate" value="#{clientController.selected.birthdate}" title="#{bundle.CreateClientTitle_birthdate}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_birthdate}">
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateClientLabel_gender}" for="gender" />
                    <h:selectOneRadio id="gender" value="#{clientController.selected.gender}" title="#{bundle.CreateClientTitle_gender}">
                        <f:selectItem itemValue="1" itemLabel="Erkek"/>
                        <f:selectItem itemValue="2" itemLabel="Kadın"/>
                    </h:selectOneRadio>
                    <h:outputLabel value="#{bundle.CreateClientLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{clientController.selected.phone}" title="#{bundle.CreateClientTitle_phone}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_phone}"/>
                    <h:outputLabel value="#{bundle.CreateClientLabel_address}" for="address" />
                    <h:inputTextarea rows="4" cols="30" id="address" value="#{clientController.selected.address}" title="#{bundle.CreateClientTitle_address}" />
                    <h:outputLabel value="#{bundle.CreateClientLabel_email}" for="email" />
                    <h:inputText id="email" value="#{clientController.selected.email}" title="#{bundle.CreateClientTitle_email}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateClientLabel_password}" for="password" />
                    <h:inputSecret id="password" value="#{clientController.selected.password}" title="#{bundle.CreateClientTitle_password}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_password}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{clientController.create}" value="#{bundle.CreateClientSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{clientController.prepareList}" value="#{bundle.CreateClientShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.CreateClientIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
