<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClientLabel_firstname}" for="firstname" />
                    <h:inputText id="firstname" value="#{clientController.selected.firstname}" title="#{bundle.EditClientTitle_firstname}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_firstname}"/>
                    <h:outputLabel value="#{bundle.EditClientLabel_lastname}" for="lastname" />
                    <h:inputText id="lastname" value="#{clientController.selected.lastname}" title="#{bundle.EditClientTitle_lastname}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_lastname}"/>
                    <h:outputLabel value="#{bundle.EditClientLabel_birthdate}" for="birthdate" />
                    <h:inputText id="birthdate" value="#{clientController.selected.birthdate}" title="#{bundle.EditClientTitle_birthdate}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_birthdate}">
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditClientLabel_gender}" for="gender" />
                    <h:selectOneRadio id="gender" value="#{clientController.selected.gender}" title="#{bundle.CreateClientTitle_gender}">
                        <f:selectItem itemValue="1" itemLabel="Erkek"/>
                        <f:selectItem itemValue="2" itemLabel="Kadın"/>
                    </h:selectOneRadio>
                    <h:outputLabel value="#{bundle.EditClientLabel_phone}" for="phone" />
                    <h:inputText id="phone" value="#{clientController.selected.phone}" title="#{bundle.EditClientTitle_phone}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_phone}"/>
                    <h:outputLabel value="#{bundle.EditClientLabel_address}" for="address" />
                    <h:inputTextarea rows="4" cols="30" id="address" value="#{clientController.selected.address}" title="#{bundle.EditClientTitle_address}" />
                    <h:outputLabel value="#{bundle.EditClientLabel_email}" for="email" />
                    <h:inputText id="email" value="#{clientController.selected.email}" title="#{bundle.EditClientTitle_email}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.EditClientLabel_password}" for="password" />
                    <h:inputSecret id="password" value="#{clientController.selected.password}" title="#{bundle.EditClientTitle_password}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_password}"/>
                </h:panelGrid>
                <h:commandLink action="#{clientController.update}" value="#{bundle.EditClientSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClientViewLink}"/>
                <br />
                <h:commandLink action="#{clientController.prepareList}" value="#{bundle.EditClientShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.EditClientIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
