<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateBookingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateBookingLabel_clientId}" for="clientId" />
                    <h:selectOneMenu id="clientId" value="#{bookingController.selected.clientId}" title="#{bundle.CreateBookingTitle_clientId}" required="true" requiredMessage="#{bundle.CreateBookingRequiredMessage_clientId}">
                        <f:selectItems value="#{clientController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateBookingLabel_vehicleId}" for="vehicleId" />
                    <h:selectOneMenu id="vehicleId" value="#{bookingController.selected.vehicleId}" title="#{bundle.CreateBookingTitle_vehicleId}" required="true" requiredMessage="#{bundle.CreateBookingRequiredMessage_vehicleId}">
                        <f:selectItems value="#{vehicleController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateBookingLabel_pickupDate}" for="pickupDate" />
                    <h:inputText id="pickupDate" value="#{bookingController.selected.pickupDate}" title="#{bundle.CreateBookingTitle_pickupDate}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateBookingLabel_pickupLocation}" for="pickupLocation" />
                    <h:inputText id="pickupLocation" value="#{bookingController.selected.pickupLocation}" title="#{bundle.CreateBookingTitle_pickupLocation}" />
                    <h:outputLabel value="#{bundle.CreateBookingLabel_dropoffDate}" for="dropoffDate" />
                    <h:inputText id="dropoffDate" value="#{bookingController.selected.dropoffDate}" title="#{bundle.CreateBookingTitle_dropoffDate}" >
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateBookingLabel_dropffLocation}" for="dropffLocation" />
                    <h:inputText id="dropffLocation" value="#{bookingController.selected.dropffLocation}" title="#{bundle.CreateBookingTitle_dropffLocation}" />
                    <h:outputLabel value="#{bundle.CreateBookingLabel_totalPrice}" for="totalPrice" />
                    <h:inputText id="totalPrice" value="#{bookingController.selected.totalPrice}" title="#{bundle.CreateBookingTitle_totalPrice}" />
                    <h:outputLabel value="#{bundle.CreateBookingLabel_description}" for="description" />
                    <h:inputTextarea rows="4" cols="30" id="description" value="#{bookingController.selected.description}" title="#{bundle.CreateBookingTitle_description}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{bookingController.create}" value="#{bundle.CreateBookingSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{bookingController.prepareList}" value="#{bundle.CreateBookingShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.CreateBookingIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
