<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListBookingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListBookingEmpty}" rendered="#{bookingController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{bookingController.items.rowCount > 0}">
                    <h:outputText value="#{bookingController.pagination.pageFirstItem + 1}..#{bookingController.pagination.pageLastItem + 1}/#{bookingController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{bookingController.previous}" value="#{bundle.Previous} #{bookingController.pagination.pageSize}" rendered="#{bookingController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{bookingController.next}" value="#{bundle.Next} #{bookingController.pagination.pageSize}" rendered="#{bookingController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{bookingController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_clientId}"/>
                            </f:facet>
                            <h:outputText value="#{item.clientId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_vehicleId}"/>
                            </f:facet>
                            <h:outputText value="#{item.vehicleId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_pickupDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.pickupDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_pickupLocation}"/>
                            </f:facet>
                            <h:outputText value="#{item.pickupLocation}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_dropoffDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.dropoffDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_dropffLocation}"/>
                            </f:facet>
                            <h:outputText value="#{item.dropffLocation}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_totalPrice}"/>
                            </f:facet>
                            <h:outputText value="#{item.totalPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{bookingController.prepareView}" value="#{bundle.ListBookingViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{bookingController.prepareEdit}" value="#{bundle.ListBookingEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{bookingController.destroy}" value="#{bundle.ListBookingDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{bookingController.prepareCreate}" value="#{bundle.ListBookingCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.ListBookingIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
