<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBookingTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBookingLabel_id}"/>
                    <h:outputText value="#{bookingController.selected.id}" title="#{bundle.ViewBookingTitle_id}"/>
                    <h:outputText value="#{bundle.ViewBookingLabel_clientId}"/>
                    <h:outputText value="#{bookingController.selected.clientId}" title="#{bundle.ViewBookingTitle_clientId}"/>
                    <h:outputText value="#{bundle.ViewBookingLabel_vehicleId}"/>
                    <h:outputText value="#{bookingController.selected.vehicleId}" title="#{bundle.ViewBookingTitle_vehicleId}"/>
                    <h:outputText value="#{bundle.ViewBookingLabel_pickupDate}"/>
                    <h:outputText value="#{bookingController.selected.pickupDate}" title="#{bundle.ViewBookingTitle_pickupDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewBookingLabel_pickupLocation}"/>
                    <h:outputText value="#{bookingController.selected.pickupLocation}" title="#{bundle.ViewBookingTitle_pickupLocation}"/>
                    <h:outputText value="#{bundle.ViewBookingLabel_dropoffDate}"/>
                    <h:outputText value="#{bookingController.selected.dropoffDate}" title="#{bundle.ViewBookingTitle_dropoffDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewBookingLabel_dropffLocation}"/>
                    <h:outputText value="#{bookingController.selected.dropffLocation}" title="#{bundle.ViewBookingTitle_dropffLocation}"/>
                    <h:outputText value="#{bundle.ViewBookingLabel_totalPrice}"/>
                    <h:outputText value="#{bookingController.selected.totalPrice}" title="#{bundle.ViewBookingTitle_totalPrice}"/>
                    <h:outputText value="#{bundle.ViewBookingLabel_description}"/>
                    <h:outputText value="#{bookingController.selected.description}" title="#{bundle.ViewBookingTitle_description}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{bookingController.destroyAndView}" value="#{bundle.ViewBookingDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBookingEditLink}"/>
                <br />
                <h:commandLink action="#{bookingController.prepareCreate}" value="#{bundle.ViewBookingCreateLink}" />
                <br />
                <h:commandLink action="#{bookingController.prepareList}" value="#{bundle.ViewBookingShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.ViewBookingIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
