<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="#{userPreferences.themeLocation}">
            <ui:define name="main">
                <ui:component rendered="true">
                    <div id="booking">
                        <div class="formContent">
                            <h4>Üye girişi yaparak rezervasyon yapabilirsiniz.</h4>
                            <ui:include src="/partials/login_form.xhtml" />
                        </div>
                    </div>
                    <div id="application">
                        <div class="formContent">
                            <h4>Veya üye olmadan kiralama başvurusu yapabilirsiniz.</h4>
                            <ui:include src="/partials/application_form.xhtml" />
                        </div>
                    </div>
                </ui:component>
                <ui:component rendered="false">
                    <div class="content">
                        <h3>Rezervasyon</h3>
                        <h:form class="form">
                            <h:panelGrid columns="2">
                                <h:outputLabel value="Üye" for="clientId" />
                                <h:selectOneMenu id="clientId" value="#{bookingController.selected.clientId}" required="true" requiredMessage="#{bundle.CreateBookingRequiredMessage_clientId}">
                                    <f:selectItems value="#{clientController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="Araç" for="vehicleId" />
                                <h:selectOneMenu id="vehicleId" value="#{bookingController.selected.vehicleId}" required="true" requiredMessage="#{bundle.CreateBookingRequiredMessage_vehicleId}">
                                    <f:selectItems value="#{vehicleController.itemsAvailableSelectOne}"/>
                                </h:selectOneMenu>
                                <h:outputLabel value="Alış Tarihi" for="pickupDate" />
                                <h:inputText id="pickupDate" value="#{bookingController.selected.pickupDate}" required="true" requiredMessage="Alış tarihi gerekli.">
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                </h:inputText>
                                <h:outputLabel value="Alış Yeri" for="pickupLocation" />
                                <h:inputText id="pickupLocation" value="#{bookingController.selected.pickupLocation}"/>
                                <h:outputLabel value="Dönüş Tarihi" for="dropoffDate" />
                                <h:inputText id="dropoffDate" value="#{bookingController.selected.dropoffDate}" required="true" requiredMessage="Dönüş tarihi gerekli.">
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                </h:inputText>
                                <h:outputLabel value="Dönüş Yeri" for="dropffLocation" />
                                <h:inputText id="dropffLocation" value="#{bookingController.selected.dropffLocation}"/>
                                <h:outputLabel value="Toplam Fiyat" for="totalPrice" />
                                <h:inputText id="totalPrice" value="#{bookingController.selected.totalPrice}"/>
                                <h:outputLabel value="Açıklama" for="description" />
                                <h:inputTextarea rows="4" cols="30" id="description" value="#{bookingController.selected.description}"/>
                            </h:panelGrid>
                            <br />
                            <h:commandButton value="Rezervasyon Yap" action="#{bookingController.create}" />
                        </h:form>
                    </div>
                </ui:component>
            </ui:define>
        </ui:composition>
    </body>
</html>