<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:body>
        <ui:composition template="#{userPreferences.themeLocation}">
            <ui:define name="main">
                <h:form>
                    <h:panelGroup rendered="#{campaignController.items.rowCount > 0}">
                        <br/>
                        <div class="cmpPagination">
                        <h:outputText class="campaignPagination" value="#{campaignController.pagination.itemsCount} kampanya içerisinden #{campaignController.pagination.pageFirstItem + 1} ile #{campaignController.pagination.pageLastItem + 1} arası gösteriliyor"/>&nbsp;
                        <h:commandLink action="#{campaignController.publicPrevious()}" value="#{bundle.Previous} #{campaignController.pagination.pageSize}" rendered="#{campaignController.pagination.hasPreviousPage}"/>&nbsp;
                        <h:commandLink action="#{campaignController.publicNext()}" value="#{bundle.Next} #{campaignController.pagination.pageSize}" rendered="#{campaignController.pagination.hasNextPage}"/>&nbsp;
                       </div>
                        <br/>
                       <ui:repeat varStatus="status" value="#{campaignController.items}" var="item">
                            <div class="campaignRecord">
                                <div class="title">                                   
                                    <h4>Kampanya #{status.index+1}: #{item.title}</h4>
                                </div>
                                <div class="description">
                                   
                                    <p>#{item.description}</p>

                                </div>
                                <div class="footing">
                                    <h:panelGrid columns="2">
                                        <h:outputText value="#{bundle.ListCampaignTitle_beginDate} :"/>
                                        <h:outputText value="#{item.beginDate}"/>
                                        <h:outputText value="#{bundle.ListCampaignTitle_endDate}"/>
                                        <h:outputText value="#{item.endDate}"/>
                                    </h:panelGrid>
                                </div>
                                </div>
                           

                        </ui:repeat>
                    </h:panelGroup>


                </h:form>
            </ui:define>

        </ui:composition>

    </h:body>
</html>
