<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>İletişim</title>
    </h:head>
    <body>
        <ui:composition template="#{userPreferences.themeLocation}">
            <ui:define name="main">
                <div class="content">
                    <h3>İletişim</h3>
                    <table class="contact">
                        <tr>
                            <td style="width: 400px;">
                                <h5>Adres:</h5>
                                <h5>Tel:</h5>
                                <h5>Faks:</h5>
                                <h5>Mail:</h5>
                            </td>
                            <td>
                                <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=41.767874,79.013672&amp;t=h&amp;z=4&amp;output=embed"></iframe>
                            </td>
                        </tr>
                    </table>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>