<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Ana Sayfa</title>
    </h:head>
    <body>
        <ui:composition template="#{userPreferences.themeLocation}">
            <ui:define name="main">
                <div id="left">
                    <ui:include src="/partials/search_form.xhtml" />
                    <ui:fragment rendered="#{userPreferences.isAdvancedTheme()}">
                        <div class="airportSabiha">
                            <div class="heading">
                                <h4>Sabiha Gökçen Havaalanı</h4>
                            </div>
                        </div>
                        <div class="airportAtatürk">
                            <div class="heading">
                                <h4>Atatürk Havaalanı</h4>
                            </div>
                        </div>
                    </ui:fragment>
                </div>
                <div id="rightContent">
                    <ui:fragment rendered="#{userPreferences.isAdvancedTheme()}">
                        <div class="fotorama" data-width="704" data-arrows="false" data-click="false" data-autoplay="3000" data-swipe="false" data-height="230" data-ratio="704/230" data-max-width="100%" data-allowfullscreen="false" data-stopautoplayontouch="false">
                            <h:graphicImage library="images" name="indexFotorama1.jpg"/>
                            <h:graphicImage library="images" name="indexFotorama1.jpg"/>
                            <h:graphicImage library="images" name="indexFotorama1.jpg"/>
                            <h:graphicImage library="images" name="indexFotorama1.jpg"/>
                        </div>
                    </ui:fragment>
                    
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>