<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <body>
        <ui:composition template="./layouts/public.xhtml">
            <ui:define name="main">
                <div class="content">
                    <h3>Üye Girişi</h3>
                    <ui:include src="/partials/login_form.xhtml" />
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>