<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Üye Ol</title>
    </h:head>
    <h:body>
        <ui:composition template="#{userPreferences.themeLocation}">
            <ui:define name="main">
                <div class="content">
                    <h3>Üyelik Bilgileri</h3>
                    <h:form class="form">
                        <h:panelGrid columns="2">
                            <h:outputLabel value="E-Posta Adresiniz" for="email" />
                            <h:inputText id="email" value="#{clientController.selected.email}" required="true" requiredMessage="E-Posta adresi gerekli." />
                            <h:outputLabel value="Parola" for="password" />
                            <h:inputSecret id="password" value="#{clientController.selected.password}" required="true" requiredMessage="Parola alanı gerekli." />
                            <h:outputLabel value="Adınız" for="firstname" />
                            <h:inputText id="firstname" value="#{clientController.selected.firstname}" required="true" requiredMessage="Ad alanı gerekli." />
                            <h:outputLabel value="Soyadınız" for="lastname" />
                            <h:inputText id="lastname" value="#{clientController.selected.lastname}" required="true" requiredMessage="Soyad alanı gerekli." />
                            <h:outputLabel value="Doğum Tarihiniz" for="birthdate" />
                            <h:inputText id="birthdate" value="#{clientController.selected.birthdate}" required="true" requiredMessage="Doğum tarihi gerekli." >
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:inputText>
                            <h:outputLabel value="Cinsiyetiniz" for="gender" />
                            <h:selectOneRadio id="gender" value="#{clientController.selected.gender}" required="true" requiredMessage="Cinsiyet gerekli.">
                                <f:selectItem itemValue="1" itemLabel="Erkek"/>
                                <f:selectItem itemValue="2" itemLabel="Kadın"/>
                            </h:selectOneRadio>
                            <h:outputLabel value="Telefon Numaranız" for="phone" />
                            <h:inputText id="phone" value="#{clientController.selected.phone}" required="true" requiredMessage="Telefon numarası gerekli." />
                            <h:outputLabel value="Adresiniz" for="address" />
                            <h:inputTextarea rows="4" cols="30" id="address" value="#{clientController.selected.address}" />
                        </h:panelGrid>
                        <br/>
                        <h:commandButton value="Kaydı Tamamla" action="#{clientController.create}"/>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>