<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <body>
        <ui:composition template="#{userPreferences.themeLocation}">
            <ui:define name="main">
                <div id="left">
                    <ui:include src="/partials/search_form.xhtml" />
                </div>
                <div id="rightContent">
                    <h:form  rendered="#{vehicleController.items.rowCount > 0}">
                        <h:outputText class="pagination" value="  #{vehicleController.pagination.itemsCount} araç içinden #{vehicleController.pagination.pageFirstItem + 1}-#{vehicleController.pagination.pageLastItem + 1} arası gösteriliyor."/><br/>&nbsp;
                        <h:commandLink action="#{vehicleController.previousPublic}" value="#{bundle.Previous} #{vehicleController.pagination.pageSize}" rendered="#{vehicleController.pagination.hasPreviousPage}"/>&nbsp;
                        <h:commandLink action="#{vehicleController.nextPublic}" value="#{bundle.Next} #{vehicleController.pagination.pageSize}" rendered="#{vehicleController.pagination.hasNextPage}"/>&nbsp;
                        <ui:repeat value="#{vehicleController.items}" var="item">
                            <div class="vehicleRecord">
                                <div class="heading">#{item.title}</div>
                                <div class="options">
                                    Günlük Fiyat<br/>
                                    <div class="price">#{item.price} TL</div>
                                    <div class="buttons">
                                        <h:commandButton value="Aracı İncele" action="#{vehicleController.prepareViewPublic()}" />
                                        <h:commandButton value="Rezervasyon Yap" action="booking.xhtml"/>
                                    </div>
                                </div>
                                <div class="properties">
                                    <div class="image">
                                        <h:graphicImage library="images" name="/#{item.images}/vehicle1.jpg" width="180" height="100"/>
                                    </div>
                                    <table>
                                        <tr><td>Kategori:</td><td>#{item.category}</td><td>Yakıt Tipi:</td><td>#{item.fuel}</td></tr>
                                        <tr><td>Araç Yılı:</td><td>#{item.vyear}</td><td>Vites Tipi:</td><td>#{item.gear}</td></tr>
                                        <tr><td>Renk:</td><td>#{item.color}</td><td>Motor Hacmi:</td><td>#{item.engineVol}</td></tr>
                                    </table>
                                </div>
                            </div>
                        </ui:repeat>
                    </h:form>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>