<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
       
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <title>Araç Kiralama Sistemi</title>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link href="resources/css/fotorama.css" rel="stylesheet"/>
        <script src="resources/js/fotorama.js"></script>
   
    </h:head>
    <h:body>
        <ui:composition template="#{userPreferences.themeLocation}">
            <ui:define name="main"> 
                <h:form>  <div class="vehicleView">                 
                        <div class="heading">
                            <h4><h:outputText value="#{vehicleController.selected.title}" title="#{bundle.ViewVehicleTitle_title}"/></h4>
                        </div>
                        <div class="properties">
                            <h:panelGrid columns="2">
                                
                                
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_category}"/>
                                <h:outputText value="#{vehicleController.selected.category}" title="#{bundle.ViewVehicleTitle_category}"/>
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_brand}"/>
                                <h:outputText value="#{vehicleController.selected.brand}" title="#{bundle.ViewVehicleTitle_brand}"/>
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_model}"/>
                                <h:outputText value="#{vehicleController.selected.model}" title="#{bundle.ViewVehicleTitle_model}"/>
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_price}"/>
                                <h:outputText value="#{vehicleController.selected.price}" title="#{bundle.ViewVehicleTitle_price}"/>
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_vyear}"/>
                                <h:outputText value="#{vehicleController.selected.vyear}" title="#{bundle.ViewVehicleTitle_vyear}"/>
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_color}"/>
                                <h:outputText value="#{vehicleController.selected.color}" title="#{bundle.ViewVehicleTitle_color}"/>
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_fuel}"/>
                                <h:outputText value="#{vehicleController.selected.fuel}" title="#{bundle.ViewVehicleTitle_fuel}"/>
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_gear}"/>
                                <h:outputText value="#{vehicleController.selected.gear}" title="#{bundle.ViewVehicleTitle_gear}"/>
                                <h:outputText class="prop" value="#{bundle.ViewVehicleLabel_engineVol}"/>
                                <h:outputText value="#{vehicleController.selected.engineVol}" title="#{bundle.ViewVehicleTitle_engineVol}"/>

                            </h:panelGrid>
                        </div>
                        <div class="right">
                            
                            <div class="fotorama" data-width="500" data-arrows="false" data-click="false" data-autoplay="3000" data-swipe="false" data-height="250" data-ratio="500/250" data-max-width="100%" data-allowfullscreen="false" data-stopautoplayontouch="false">
                                <h:graphicImage library="images" name="/#{vehicleController.selected.images}/vehicle1.jpg"/>
                            <h:graphicImage library="images" name="/#{vehicleController.selected.images}/vehicle2.jpg"/>
                            <h:graphicImage library="images" name="/#{vehicleController.selected.images}/vehicle3.jpg"/>
                            
                        </div>
                                
                    </div>
                        </div>
                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

