<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListApplicationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListApplicationEmpty}" rendered="#{applicationController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{applicationController.items.rowCount > 0}">
                    <h:outputText value="#{applicationController.pagination.pageFirstItem + 1}..#{applicationController.pagination.pageLastItem + 1}/#{applicationController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{applicationController.previous}" value="#{bundle.Previous} #{applicationController.pagination.pageSize}" rendered="#{applicationController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{applicationController.next}" value="#{bundle.Next} #{applicationController.pagination.pageSize}" rendered="#{applicationController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{applicationController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListApplicationTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListApplicationTitle_firstname}"/>
                            </f:facet>
                            <h:outputText value="#{item.firstname}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListApplicationTitle_lastname}"/>
                            </f:facet>
                            <h:outputText value="#{item.lastname}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListApplicationTitle_phone}"/>
                            </f:facet>
                            <h:outputText value="#{item.phone}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListApplicationTitle_email}"/>
                            </f:facet>
                            <h:outputText value="#{item.email}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListApplicationTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{applicationController.prepareView}" value="#{bundle.ListApplicationViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{applicationController.destroy}" value="#{bundle.ListApplicationDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:link outcome="/admin/index" value="#{bundle.ListApplicationIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
