<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/layouts/admin.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewApplicationTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewApplicationLabel_id}"/>
                    <h:outputText value="#{applicationController.selected.id}" title="#{bundle.ViewApplicationTitle_id}"/>
                    <h:outputText value="#{bundle.ViewApplicationLabel_firstname}"/>
                    <h:outputText value="#{applicationController.selected.firstname}" title="#{bundle.ViewApplicationTitle_firstname}"/>
                    <h:outputText value="#{bundle.ViewApplicationLabel_lastname}"/>
                    <h:outputText value="#{applicationController.selected.lastname}" title="#{bundle.ViewApplicationTitle_lastname}"/>
                    <h:outputText value="#{bundle.ViewApplicationLabel_phone}"/>
                    <h:outputText value="#{applicationController.selected.phone}" title="#{bundle.ViewApplicationTitle_phone}"/>
                    <h:outputText value="#{bundle.ViewApplicationLabel_email}"/>
                    <h:outputText value="#{applicationController.selected.email}" title="#{bundle.ViewApplicationTitle_email}"/>
                    <h:outputText value="#{bundle.ViewApplicationLabel_description}"/>
                    <h:outputText value="#{applicationController.selected.description}" title="#{bundle.ViewApplicationTitle_description}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{applicationController.destroyAndView}" value="#{bundle.ViewApplicationDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="#{applicationController.prepareList}" value="#{bundle.ViewApplicationShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/admin/index" value="#{bundle.ViewApplicationIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
